@model IEnumerable<WorkOrganizer.Domain.Entities.Project>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <hr />
</div>

<div class="col-sm-4 float-sm-left">
    <div class="ui segment" style="width: 100% !important;">
        @*<p class="font-pr-bold">Menu</p>*@
                
                <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Projects">Projects</a></span></p>
                <hr />
                <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a></span></p>
                <hr>
            </div>
            <hr class="d-sm-none">
        </div>
