
@{
    ViewData["Title"] = "Advanced Search";
}

<h1>Advanced Search</h1>

<br />
<br />

<div class="col-sm-4 float-sm-left">
    <div class="ui segment" style="width: 100% !important;">

        <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Projects">Projects</a></p>
        <hr />
        <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Show">Users</a></p>
        <hr>
    </div>
    <hr class="d-sm-none">
</div>

<div>
    <form asp-controller="AdvancedSearch" asp-action="SearchProjects" method="get" class="form-inline my-2 my-lg-0 mr-sm-3">
        <input class="form-control mr-sm-2" type="search" name="SearchString" placeholder="Search project.." aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 mr-sm-5" type="submit">Search</button>
    </form>
    <hr />
    <form asp-controller="AdvancedSearch" asp-action="SearchUsers" method="get" class="form-inline my-2 my-lg-0 mr-sm-3">
        <input class="form-control mr-sm-2" type="search" name="SearchString" placeholder="Search user.." aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 mr-sm-5" type="submit">Search</button>
    </form>
    <hr />
    <form asp-controller="AdvancedSearch" asp-action="SearchJobs" method="get" class="form-inline my-2 my-lg-0 mr-sm-3">
        <input class="form-control mr-sm-2" type="search" name="SearchString" placeholder="Search job.." aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 mr-sm-5" type="submit">Search</button>
    </form>
</div>

