@model IEnumerable<WorkOrganizer.Domain.Entities.ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Searched results</h1>
</div>

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                E-mail
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
        </tr>
        }
    </tbody>
</table>
