@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>

<h2>
    What is WorkOrganizer?
</h2>
<p>
    WorkOrganizer was founded in 2019. We started out with five people, and today we’re a company of about 50 spread out across 32 different cities around the world. Our headquarters is in Helsingborg, but everyone at Basecamp is free to live and work wherever they want. Many of us love working remotely – we literally wrote the book on remote working!
</p>

<p>
    We’re designers, programmers, tinkerers, writers, speakers, bikers, engineers, runners, developers, chefs, analysts, campers, musicians, filmmakers, knitters, hikers, authors, photographers, pilots, race car drivers, readers, travelers, gardeners, volunteers, parents, and hard workers.
</p>

<h2>
    Doubling down on simple and straightforward
</h2>
<p>
    We’re big believers in the power of keeping it simple. Every bet we’ve ever placed on making something easier for our customers has always paid off.

    In the decades to come, we’ll continue to make big bets on simplicity, clarity, ease-of-use, and honesty. This goes for our products, our publications, and our company.
</p>

<h2>
    Giving a damn
</h2>
<p>
    Treating people right is fundamental to how we do business. We treat our customers as we’d want to be treated, we treat each other like family, and we treat ourselves to a good day’s work and a good night’s sleep.
</p>

<p>
    Our goals have always been the same: Have fun, do exceptional work, build the best product in the business, experiment, pay attention to the details, treat people right, tell the truth, have a positive impact on the world around us, give back, and keep learning.
</p>

<h2>
    Always at your service
</h2>
<p>
    If you have a general question for us, just drop us an email at email@workorganizer.biz and we’ll get back to you within a day. If you’re a customer, and you want to talk to someone in customer service, drop an email to support@workorganizer.biz  and we’ll get back to you right away.
</p>

<p>
    If you’re just browsing, enjoy your stay. If you’d like to become a customer, we’d love to have you. Either way, thanks for visiting WorkOrganizer.
</p>